/* Paleta de colores */
:root {
    --russian-violet: #38023bff;
    --tropical-indigo: #a288e3ff;
    --columbia-blue: #bbd5edff;
    --mint-green: #cefdffff;
    --tea-green: #ccffcbff;
    --verde: #33cc66; /* Verde para la navbar */
    --amarillo: #FFD700; /* Amarillo para detalles */
}

/* Fondo general de la página */
body {
    background-color: var(--columbia-blue);
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 100px; /* Espacio para la navbar fija */
}

/* Navbar */
.navbar {
    background-color: var(--verde) !important;
}


/* Sección inicial */
section {
    padding: 50px 0;
}

/* Sección de inicio */
.bg-light {
    background-color: var(--columbia-blue) !important;
}

.bg-light img {
    max-width: 100%;
    height: auto;
}

/* Línea separadora entre secciones */
hr.my-4 {
    border: 1px solid var(--tropical-indigo);
    width: 50%;
    margin: 30px auto;
}

/* Estilo para el botón de "volver arriba" */
#scrollUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--tropical-indigo);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    z-index: 100;
}

/* Cambios para las imágenes */
img.img-fluid {
    max-width: 80%; /* Asegura que la imagen no se agrande demasiado */
    height: auto;
}

/* AOS Animations */
[data-aos="fade-up"] {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
}

[data-aos="zoom-in"] {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

[data-aos="zoom-in"].aos-animate {
    transform: scale(1);
    opacity: 1;
}

/* Estilos para el Footer */
footer {
    background-color: var(--verde); /* Fondo verde */
    color: white;
    padding: 30px 0;
}

/* Estilo para los enlaces del footer */
footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--amarillo); /* Cambiar color al pasar el cursor */
}

/* Estilo de la lista de contacto */
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

/* Asegurarse de que el texto esté centrado */
footer h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Ajustes responsivos para el footer */
@media (max-width: 768px) {
    footer h5 {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}

.bg-amarillo{
    background-color: var(--columbia-blue);
}

.bg-verde{
    background-color: #33cc66;
}